@import 'tailwindcss';

:root {
  /* Fonts */
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Nunito', sans-serif;
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: var(--font-heading);
}

@layer utilities {
  .bg-background {
    background-color: #ededed;
  }
  .text-foreground {
    color: #1a1a1d;
  }
  .bg-banner-bg {
    background-color: #b6ae9f;
  }
  .text-banner-text {
    color: #1a1a1d;
  }
  .bg-header-bg {
    background-color: #4f453f;
  }
  .text-header-text {
    color: #1a1a1d;
  }
  .hover-header {
    color: #524641;
  }
  .underline-header {
    border-bottom: 0.3rem solid #988977;
  }
  .bg-footer-bg {
    background-color: #dad6ce;
  }
  .text-footer-header {
    color: #687fe5;
  }
  .text-footer-text {
    color: #514742;
  }
}
